body{
    background-color: rgb(236, 160, 17);
    font-family: roboto;
    color: black;
}
.navbar{
    background-color: green;
    color: whitesmoke;
    border: none;
}
h2 h4{
    color: whitesmoke;
}
button{
    background-color: green;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
button:hover{
    background-color: whitesmoke;
    color: green;
}


.card:hover{
    box-shadow: 0 0 10px , 0 0 20px rgb(112, 108, 108), 0 0 40px rgb(112, 108, 108);
    border-radius: 10px;
    padding: 8px;

}
.footer{
    border: 5px solid green;
}