body{
    background-color: rgb(236, 160, 17);
    color: whitesmoke;
}
.navbar{
    background-color: green;
    color: whitesmoke;
    border: none;
}
h4{
    color: whitesmoke;
}
button{
    background-color: green;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
button:hover{
    background-color: whitesmoke;
    color: orange;
}
h4:hover{
    background-color: whitesmoke;
    color: orange;
}