<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><h4 class="text-light"> News Hub </h4</a>
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link active" aria-current="page" href="/"><h4 class="text-light">Home</h4></a></li>
                <li><a class="nav-link active" aria-current="page" href="#sports"><h4 class="text-light">Sports News</h4></a></li>
                <li><a class="nav-link active" aria-current="page" href="#technology"><h4 class="text-light">Technology News</h4></a></li>
                <li><a class="nav-link active" aria-current="page" href="#entertainment"><h4 class="text-light">Entertainment News</h4></a></li>
                <li><a class="nav-link active" aria-current="page" href="#business"><h4 class="text-light">Business News</h4></a></li>
        </div>

    </div>
</div>